.App {
  text-align: center;
  background-color: rgb(238, 238, 238);
  height: 100vh;
  font-family: "Poppins", sans-serif;
}
.App table {
  width: 100vw;
  height: 90vh;
  padding: 20px;
}
.pagination_button {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}
.App tr:hover {
  background-color: rgb(153, 152, 152);
}

.App td:hover {
  background-color: rgb(209, 209, 209);
}
.App > h3 {
  position: absolute;
  left: 50%;
  top: 50%;
}
.pagination {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.pagination > button {
  width: 40px;
  border: 1px solid grey;
  border-radius: 20px;
}
.pagination > button:hover {
  background-color: rgb(209, 209, 209);
  width: 60px;
  border: 2px solid rgb(136, 128, 128);
}
.firstPage {
  background-color: rgb(207, 253, 138);
  margin-right: 50px;
}
.activePage {
  background-color: rgba(144, 204, 253, 0.658);
  margin: 0 30px;
}
.pagination_button > button {
  border: 1px solid rgb(136, 128, 128);

  border-radius: 30px;
  font-size: 16px;
  padding: 10px;
  width: 120px;
}
.pagination_button > button:hover {
  background-color: rgb(209, 209, 209);
  width: 130px;
  border: 2px solid rgb(136, 128, 128);
}
